{{!-- <div class="card-group">
    {{#each this}}
    <div class="card">
        <img src="{{webformatURL}}" class="card-img-top" alt="{{tags}}">
        <div class="card-body">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
    {{/each}}
</div> --}}


<div class="row row-cols-1 row-cols-md-3">
    {{#each this}}
    <div class="col mb-4">
        <div class="card">
            <img src="{{webformatURL}}" class="card-img-top" alt="{{tags}}">
            <div class="card-body">
                <p class="stats-item">
                    <i class="material-icons">thumb_up</i>
                    {{likes}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">visibility</i>
                    {{views}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">comment</i>
                    {{comments}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">cloud_download</i>
                    {{downloads}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>